.note_row {
    height:24px; 
    background-color: white;
    
}

.note_line {
    height: 12px;
    border-color: black;
    border-bottom: 2px solid black;
}

.mrg_t_20{
    margin-top: 40px;
}

.note_key {
    height: 100px;
    font-size: 138px;
    top:0px;
    position: absolute;
}

.align_horizontal{
    display: flex;
    flex-direction: row;
}

.grow{
    flex-grow: 1;
    white-space: nowrap;
}

.note_symbol{
    font-size: 90px;
    position: relative;
    bottom: 3px;
}

.notes_array{
    position: absolute;
    width: 100%;
}

:host{
    min-width: 1200px;
    display: block;
}

.key_img {
    width: 83px;
    position: absolute;
    top: 86px;
    left: 15px;
}