<div class="mrg_t_20 align_horizontal">
    <div class="grow">
        <!--<div *ngIf="isFirstLine" class="note_key">𝄞</div>-->
        <img class="key_img" *ngIf="isFirstLine" src="assets/clef.png">
        <div class="notes_array" [ngStyle]='{"left": isFirstLine === true? "150px" : "20px"}' >
            <note-symbol [note]=note.note *ngFor="let note of notes" ></note-symbol>
        </div>
        <div class="note_row">
            <div class="note_line">
                
            </div>
        </div>
        <div class="note_row">
            <div class="note_line">

            </div>
        </div>
        <div class="note_row">
            <div class="note_line">

            </div>
        </div>
        <div class="note_row">
            <div class="note_line">

            </div>
        </div>
        <div class="note_row">
            <div class="note_line">

            </div>
        </div>
    </div>
</div>